<!-- start custom head snippets -->

<!-- insert favicons. use https://realfavicongenerator.net/ -->
  <p class="aligncenter">
    <img src="/assets/images/logo_official/copernicus_eu_logo.svg" width="286" height="40" > <img src="/assets/images/logo_official/ESA_logo_2020_Deep2.png" width="171" height="40">
    <img src="/assets/images/logo_official/AIRBUS_Black.png"  width="108" height="40" >
    <img src="/assets/images/logo_official/logo_cs_group_bleu_petit-86x42.png"  width="61" height="30" >
</p>
<!-- end custom head snippets -->