<!-- start custom head snippets -->

<!-- insert favicons. use https://realfavicongenerator.net/ -->

<style type="text/css">
  #conteneur {
    margin-top:0;
    margin-bottom:0;
    text-align: right;
    }
</style>


<div id="conteneur">
  <img src="/assets/images/logo_official/copernicus_eu_logo.svg" width="286" height="40" > <img src="/assets/images/logo_official/ESA_logo_2020_Deep2.png" width="171" height="40">
  <img src="/assets/images/logo_official/AIRBUS_Blue.png"  width="162" height="60" >
  <img src="/assets/images/logo_official/logo_cs_group_bleu_petit-86x42.png"  width="82" height="40" >
</div>

<!-- end custom head snippets -->